.nav {
    position: fixed;
    z-index: 5;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    transition: all 0.3s ease-in-out;
  }
  
  .nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    padding: .4375rem .9375rem;
    transition: all 0.3s ease-in-out;
  }
  
  .nav.active {
    background-color: #fff;
    box-shadow: 0 .125rem .625rem rgba(0, 0, 0, 0.3);
  }
  
  .nav.active a {
    color: #000;
  }
  
  .nav.active .container {
    padding: .625rem 0;
  }
  
  .nav a.current,
  .nav a:hover {
    color: #c0392b;
    font-weight: bold;
  }